/* font */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

/* variables */
@import "./variables.scss";

/* media query */

/* width 
 - mobile --> 375px
 - Desktop --> 1440px

*/
@mixin large {
  @media (min-width: 60em) {
    @content;
  }
}

/* ========================================== */

/* main styles *

/* Set core body defaults */
body {
  height: 100%;
  font-family: $ff-primary;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-size: 1rem;

  /* border */
  border: 3px solid hotpink;
}
