/* font */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

/* variables */
@import "./variables.scss";

/* media query */

/* width 
 - mobile --> 375px
 - Desktop --> 1440px

*/
@mixin desktop {
  @media (min-width: 50em) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 53em) {
    @content;
  }
}

/* ========================================== */

/* general styling */

/* tag selector -------------> --------------> */
/* Set core body defaults --> body */
body {
  height: 100%;
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  color: var(--clr-primary-400);
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  /* border */
  // border: 3px solid hotpink;
}

p {
  max-width: 32ch;

  &:not([class]) {
    opacity: 0.7;
  }

  &[dataWidth="wide"] {
    max-width: 42ch;
  }
}
/* -------------> -----------> */
/* -------------> -----------> */

/* opened-nav [toggle class] ---------------> */
.data-overlay::before {
  @include mobile {
    content: "";
    position: fixed;
    inset: 0;
    background: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
  }
}

.primary-header {
  .nav-wrapper {
    .primary-navigation {
      &.nav-opened {
        @include mobile {
          display: block;
        }
      }
    }
  }
}
/*---- ------- ----------- -------- -- -----> */

/* button */
.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  border-radius: 100vmax;
  border: 0;
  padding: 1.25em 2.5em;
  font-weight: var(--fw-bold);
  font-size: var(--fs-button);
  line-height: 1;
  color: var(--clr-neutral-100);
  background-color: var(--clr-accent-400);
  box-shadow: 0 1.125em 1em -1em var(--clr-accent-500);
  &[datatype="inverted"] {
    background-color: var(--clr-neutral-100);
    color: var(--clr-accent-400);

    &:hover {
      background-color: var(--clr-neutral-100);
      color: var(--clr-accent-300);
    }
  }

  &:hover,
  &:focus-visible {
    background-color: var(--clr-accent-300);
  }
}

.container {
  $max-width: 1100px;
  $padding: 1rem;
  border: 2px solid slateblue;

  width: min($max-width, 100% - ($padding * 2));
  margin-inline: auto;

  .even-columns {
    display: grid;
    gap: 1rem;

    @include desktop {
      grid-auto-flow: column;
    }
  }
}

.primary-header {
  margin-top: var(--size-700);

  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* navigation */
    .mobile-nav-toggle {
      z-index: 2;
      display: none;

      @include mobile {
        display: block;
        position: fixed;
        top: 2.6rem;
        right: var(--size-400);
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: 0.5em;
      }

      .icon-close {
        @include mobile {
          display: none;
        }
      }
    }

    .primary-navigation {
      .nav-list {
        display: flex;
        gap: clamp(var(--size-400), 5vw, var(--size-700));
        font-size: var(--fs-nav);
        font-weight: var(--fw-semi-bold);

        a {
          &:hover,
          &:focus {
            // @include mobile {
            text-decoration: none;
            color: var(--clr-accent-400);
            // }
          }

          // @include mobile {
          text-decoration: none;
          color: var(--clr-primary-400);
          // }
        }

        @include mobile {
          display: grid;
          gap: var(--size-600);
          text-align: center;
          font-weight: var(--fw-bold);
        }
      }

      @include mobile {
        display: none;

        position: fixed;
        padding: var(--size-700);
        inset: 7rem var(--size-400) auto;
        max-width: 25rem;
        margin-left: auto;
        background-color: var(--clr-neutral-100);
        border-radius: var(--size-100);
        box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05);
      }
    }
  }
}

/* cta */
.cta {
  position: relative;
  isolation: isolate;

  .cta-heading {
    font-size: var(--fs-secondary-heading);

    @include mobile {
      font-size: var(--fs-primary-heading);
    }
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    // background-color: red;
    background-image: url(src/images/bg-tablet-pattern.svg),
      url(src/images/bg-tablet-pattern.svg);
    background-position: -15rem -5rem, 80rem -42rem;
    background-repeat: no-repeat;
    opacity: 0.1;
  }

  @include desktop {
    text-align: left;
  }
}

footer {
  .footer-nav {
    a {
      color: var(--clr-neutral-100);
      text-decoration: none;

      &:is(:hover, :focus) {
        color: var(--clr-accent-400);
      }
    }
  }
}
